html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: lightgray;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

header {
  position: fixed;
  background-color: #7D8CFF;
  width: 100%;
  left: 0;
  top: 0;
  font-family: helvetica;
  color: white;
}

.header-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#header-title {
  margin-left: 5vw;
}

#nav-bar ul {
  display: grid;
  background-color: purple;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#nav-bar a {
  text-decoration: none;
  background-color: blue;
  padding: 10px;
  border-radius: 15px;
  color: white;
}

#nav-bar li {
  list-style-type: none;
}

.content {
  text-align: center;
  margin-top: 100px;
}

.content h2 {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.content hr {
  border: 1px solid #7D8CFF;
  width: 60%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 4%;
}

.content section {
  height: 300px;
  scroll-margin-top: 150px;
}

footer {
  background-color: #7D8CFF;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  text-align: center;
  color: white;
  font-family: helvetica;
  padding-bottom: 20px;
}

.contact, .my-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-links a {
  border: 1px solid white;
  padding: 5px;
  border-radius: 8px;
}

.my-links a:hover {
  background-color: white;
  color: #7D8CFF;
}

footer a, footer span {
  color: white;
  text-decoration: none;
  font-family: helvetica;
  margin: 3px 0;
}

footer h2 {
  display: inline-block;
}

.copyright-info {
  background-color: black;
  position: absolute;
}

/* add blurred out picture (maybe forest? maybe sumn idk) that sits above
   About Me, College Careeer,... */